@(title: String)(headerStyle: Html)(content: Html)(footerScript: Html)

<html>
    <head>
        <title>Green House Admin - @title </title>
        <meta name="description" content="Green House - Admin">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel="stylesheet" href="@routes.Assets.versioned("css/normalize.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/themify-icons.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/pe-icon-7-filled.css")">


        <link href="@routes.Assets.versioned("weather/css/weather-icons.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("calendar/fullcalendar.css")" rel="stylesheet" />

        <link rel="stylesheet" href="@routes.Assets.versioned("owlcarousel/owl.theme.default.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("owlcarousel/owl.carousel.min.css")">

        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
        <link href="@routes.Assets.versioned("css/charts/chartist.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("css/lib/vector-map/jqvmap.min.css")" rel="stylesheet">


        @headerStyle

    </head>
    <body>

        <div id="right-panel" class="right-panel ml-0">

                <!-- Header-->
            <header id="header" class="header">
                <div class="top-left">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><img src="@routes.Assets.versioned("images/logo.png")" alt="Logo"></a>
                        <a class="navbar-brand hidden" href="/"><img src="@routes.Assets.versioned("images/logo2.png")" alt="Logo"></a>

                    </div>
                </div>
                <div class="top-right">
                    <div class="header-menu">
                        <div class="header-left">

                            <div style="margin-top: 0.35rem">
                                <a class="btn btn-outline-dark" href="@routes.AuthController.getLogin()">Login</a>
                                <a class="btn btn-outline-dark" href="@routes.AuthController.getRegister()">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
                <!-- /header -->
                <!-- Header-->


            <div class="content pb-0">

                @if(flash.containsKey("success")) {
                    <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                        @flash.get("success")
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
                @if(flash.containsKey("error")) {
                    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                        @flash.get("error")
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
                @if(flash.containsKey("danger")) {
                    <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                        @flash.get("danger")
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }
                @if(flash.containsKey("info")) {
                    <div class="sufee-alert alert with-close alert-info alert-dismissible fade show">
                        @flash.get("info")
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                }

                @content

            </div>

        </div>


        <script src="@routes.Assets.versioned("js/vendor/jquery-2.1.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/popper.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/plugins.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("owlcarousel/owl.carousel.min.js")"></script>
        <script src="@routes.Assets.versioned("js/main.js")" type="text/javascript"></script>

        <script src="@routes.Assets.versioned("js/lib/chart-js/Chart.bundle.js")" type="text/javascript"></script>


            <!--Chartist Chart-->
        <script src="@routes.Assets.versioned("js/lib/chartist/chartist.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/lib/chartist/chartist-plugin-legend.js")" type="text/javascript"></script>


        <script src="@routes.Assets.versioned("js/lib/flot-chart/jquery.flot.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/lib/flot-chart/jquery.flot.pie.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/lib/flot-chart/jquery.flot.spline.js")" type="text/javascript"></script>


        <script src="@routes.Assets.versioned("weather/js/jquery.simpleWeather.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("weather/js/weather-init.js")" type="text/javascript"></script>


        <script src="@routes.Assets.versioned("js/lib/moment/moment.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("calendar/fullcalendar.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("calendar/fullcalendar-init.js")" type="text/javascript"></script>

        @footerScript
    </body>
</html>
