@()

@views.html.admin.main("Landlords / Owners") {
    @*======Header Style==========*@
} {
    @*======Content===============*@
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Land Lords / Owners</strong>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Properties</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Lenya Hope</td>
                                <td>lehone</td>
                                <td>lehone4hope@@gmail.com</td>
                                <td>675230094</td>
                                <td>24</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

} {
    @*======Footer Script=========*@
}
