@()

@views.html.admin.main("Cities") {
    @*======Header Style==========*@
} {
    @*======Content===============*@
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>Add New Cities</strong>
                </div>
                <div class="card-body card-block">
                    <form action="#" method="post" class="">
                        <div class="form-group">
                            <label for="nf-regions" class="form-control-label">Cities</label>
                            <textarea id="nf-regions" name="cities"
                                placeholder="Enter a comma separated list of cities e.g. Buea, Tiko, Limbe"
                                class="form-control"></textarea>
                            <span class="help-block">Enter a comma separated list of cities e.g. <strong>
                                Buea, Tiko, Limbe</strong></span>
                        </div>
                        <div class="form-group">
                            <label for="nf-country" class="form-control-label">Region</label>
                            <select class="form-control" id="nf-country" name="region">
                                <option>--select region--</option>
                            </select>
                            <span class="help-block">Select region where the cities belong to</span>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Cities</strong>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Region</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Buea</td>
                                <td>South West</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">View</a>
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Limbe</td>
                                <td>South West</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">View</a>
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Douala</td>
                                <td>Littoral</td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-sm">View</a>
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

} {
    @*======Footer Script=========*@
}
