@(property: Property)

    @main("Property Detail") {
        <!-- HEADER STYLE -->

    } {

        <!--Inner Page Banner-->
        <section class="inner-page-banner style-two" style="background-image: url(@routes.Assets.versioned("app/images/background/bg-page-title.jpg"));">
            <div class="auto-container">
                <h1>@if(property != null) {
                    @property.name
                } else {Property Not Found}</h1>
                <div class="text">Reprehenderit in voluptate velit esse cillum dolore.</div>
            </div>
        </section>


            <!--Sidebar Page-->
        @if(property != null) {
            <div class="sidebar-page-container">
                <div class="auto-container">
                    <div class="row clearfix">

                            <!--Content Side-->
                        <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <!--Property DEtails-->
                            <section class="property-details">
                                <div class="prop-header">
                                    <h3>@property.name <span class="prop-label">@if(property.forSale) {For sell} else {For rent}</span></h3>
                                    <div class="info clearfix">
                                        <div class="location"><span class="fa fa-map-marker"></span>&ensp; @property.getAddress</div>
                                    </div>
                                </div>

                                    <!--Product Carousel-->
                                <div class="product-carousel-outer">

                                        <!--Product image Carousel-->
                                    <ul class="prod-image-carousel owl-theme owl-carousel">
                                    @for(image <- property.photos) {
                                        <li>
                                            <figure class="image">
                                                <a class="lightbox-image option-btn" data-fancybox-group="example-gallery"
                                                href="@routes.Assets.versioned("uploads/properties/" + image.photo)" title="@property.name">
                                                    <img src="@routes.Assets.versioned("uploads/properties/" + image.photo)" alt="">
                                                </a>
                                            </figure>
                                        </li>
                                    }
                                    </ul>

                                        <!--Product Thumbs Carousel-->
                                    <div class="prod-thumbs-carousel owl-theme owl-carousel">
                                    @for(image <- property.photos) {
                                        <div class="thumb-item"><figure class="thumb-box"><img src="@routes.Assets.versioned("uploads/properties/" + image.photo)" alt=""></figure></div>
                                    }
                                    </div>

                                </div><!--End Product Carousel-->

                                <div class="detail-content">
                                    <div class="medium-title"><h3>PROPERTY DESCRIPTION</h3></div>
                                    <div class="info">
                                        <ul>
                                            <li>Price : &ensp;<span class="price">XAF @property.price / <span class="text-capitalize">@property.priceType.name</span></span></li>
                                            @if(property.area != null){<li>Area : &ensp;&ensp;<span class="area">@property.area sq ft.</span></li>}
                                        </ul>
                                    </div>
                                    <div class="text-content">
                                        <p>@property.description</p>
                                    </div>
                                    <div class="property-specs">
                                        <ul class="specs-list">
                                            <li><div class="icon"><span class="flaticon-double-king-size-bed"></span></div>
                                                @property.bedRooms Bedrooms</li>
                                            <li><div class="icon"><span class="flaticon-vintage-bathtub"></span></div>
                                                @property.bathRooms Bathrooms</li>
                                            <li><div class="icon"><span class="flaticon-computer-screen"></span></div>
                                                @property.parlors Living Rooms</li>
                                        </ul>
                                    </div>
                                        <!--Other Features-->
                                    <div class="other-features">
                                        <div class="medium-title"><h3>Other Features</h3></div>
                                        <div class="row clearfix">
                                            @for(amenity <- property.features) {
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <ul class="features-list">
                                                        <li>@amenity.name</li>
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    </div>


                                        <!--Additional Info-->
                                    <div class="add-info">
                                        <div class="medium-title"><h3>Additionla Information</h3></div>
                                        <ul class="info-list clearfix">
                                            <li class="clearfix"><div class="pull-left">
                                                Police Station</div><div class="pull-right">10KM</div></li>
                                            <li class="clearfix"><div class="pull-left">School</div><div class="pull-right">
                                                7KM</div></li>
                                            <li class="clearfix"><div class="pull-left">
                                                Fire Station</div><div class="pull-right">8KM</div></li>
                                            <li class="clearfix"><div class="pull-left">
                                                Hospital</div><div class="pull-right">5KM</div></li>
                                            <li class="clearfix"><div class="pull-left">
                                                Play Ground</div><div class="pull-right">2KM</div></li>
                                            <li class="clearfix"><div class="pull-left">Bank</div><div class="pull-right">
                                                12KM</div></li>
                                            <li class="clearfix"><div class="pull-left">
                                                Shoping Mall</div><div class="pull-right">15KM</div></li>
                                        </ul>
                                    </div>

                                </div>

                            </section>
                        </div>
                            <!--Content Side-->

                            <!--Sidebar-->
                        <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <aside class="sidebar">

                                    <!-- Request Quote Form -->
                                <div class="sidebar-widget request-quote">
                                    <div class="widget-inner">
                                        <div class="agent-info">
                                            <figure class="author-thumb img-circle"><img class="img-circle" src="@routes.Assets.versioned("app/images/resource/author-thumb-5.jpg")" alt=""></figure>
                                            <h3>@property.user.name</h3>
                                            <div class="designation">Agent in Buea</div>
                                            <div class="phone"><span class="fa fa-phone"></span> (237) @property.user.phone</div>
                                        </div>
                                        <div class="default-form quote-form">
                                            <h4>Request A Quote</h4>
                                            <form method="post">
                                                <div class="form-group">
                                                    <input type="text" name="field-name" value="" placeholder="Name" required >
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="field-name" value="" placeholder="Email" required >
                                                </div>
                                                <div class="form-group">
                                                    <textarea name="field-name" placeholder="Message" required ></textarea>
                                                </div>
                                                <div class="button-group"><button type="submit" class="theme-btn btn-style-one">
                                                    Send Message</button></div>
                                            </form>
                                        </div>
                                    </div>

                                </div>

                                    <!-- Recommended Properties -->
                                <div class="sidebar-widget recommended-properties">
                                    <div class="sidebar-title"><h3>Recomended For You</h3></div>

                                    <div class="post">
                                        <figure class="post-thumb"><a href="#"><img src="@routes.Assets.versioned("app/images/resource/post-thumb-5.jpg")" alt=""></a></figure>
                                        <h4><a href="#">146 Woodhaven Preserve</a></h4>
                                        <ul class="specs clearfix">
                                            <li>3 Beds</li>
                                            <li>2 Baths</li>
                                            <li>1600 sq ft.</li>
                                        </ul>
                                        <div class="price">XAF 25,000</div>
                                    </div>

                                </div>

                            </aside>


                        </div>
                            <!--Sidebar-->

                    </div>
                </div>
            </div>
        }

    } {
            <!-- FOOTER SCRIPT -->

    }
